.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 1s ease;
  opacity: 1;
  background-color: #A20066; 
  width: fit-content;
  height: 100vh;
  position: fixed;
  z-index: 10000;
}

.slide-out {
  animation: slideOut 1s ease;
  opacity: 0;
  transform: translateX(-100%);
  background-color: #A20066;
  width: fit-content;
  height: 100vh;
  position: fixed;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/login-img.png'); /* Replace with your image path */
  background-size: cover; /* This will cover the entire viewport */
  background-position: center; /* This will center the background image */
  opacity: 0.7; /* This will make the image semi-transparent */
  z-index: -1; /* This places the image behind the loading text */
}

.loading-container {
  background-color: #444444;
  padding: 20px; /* Adjust as per your needs */
  border-radius: 8px; /* Gives rounded corners, adjust as needed */
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.8); /* Optional: adds a subtle shadow for depth */
  border: 2px solid white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.loading-text {
  color: white; /* Adjust color based on your preference */
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}




